{% extends 'base.html' %}
{% block content %}
<div class="container-fluid" style="background-color:#3a3b63; ">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <div class="banner-text" style="text-align:center; padding: 20px;">
                    <h1 style="color:#fafafc;">ToDo</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow bg-light">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="Taskname" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="Enter your priority" required>
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" name="date" required>
                </div>
                <button type="submit" class="btn btn-success">Add Task</button>
            </form>
        </div>
        <div class="col-md-6">
            <h4>Tasks to be Completed</h4>
            {% for i in task1 %}
            <div class="shadow card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p><strong>Priority:</strong> {{ i.priority }}</p>
                    <p><strong>Date:</strong> {{ i.date }}</p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">Update</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}